# A default nixos configuration to build a new system from.
{
  config,
  lib,
  pkgs,
  ...
}@args:
let
  inherit (args) inputs;
in
{
  imports = [
    # The hardware-dependent options:
    ./hardware.nix
    # Common settings thath apply to all machines:
    ../common.nix
    # Deployment-site specific options:
    ../../sites/"$SITE".nix
    # The users for this system:
    ../../users/"$USER".nix
    # The custom modules:
	# TODO: Import any custom modules here.
    # Any third-party modules or flakes:
    # TODO: Import any thrid-party flakes here such as:
	# inputs.sops-nix.nixosModules.sops
  ];

  boot = {
    loader.grub = {
      enable = true;
      efiSupport = true;
      efiInstallAsRemovable = true;
    };
  };

  networking = {
    hostName = "$NAME";
    hostId = "$HOSTID";
    networkmanager.enable = true;
    useDHCP = true;
    nameservers = [
      "1.1.1.1"
      "1.0.0.1"
      "100.100.100.100"
    ];
    firewall = {
      allowedTCPPorts = [ ];
      allowedUDPPorts = [ ];
    };
    search = [ "tabby-crocodile.ts.net" ];
  };

  console = {
    font = "Lat2-Terminus16";
    useXkbConfig = true;
  };

  environment.systemPackages = with pkgs; [
    git
    tailscale
    tree
    vim
  ];

  services = {
    openssh = {
      enable = true;
      ports = [ 22 ];
      settings = {
        PasswordAuthentication = true;
        KbdInteractiveAuthentication = true;
        PermitRootLogin = "no";
        AllowUsers = [ "$USER" ];
      };
    };
    envfs.enable = true;
    tailscale.enable = true;
  };

  programs = {
    zsh.enable = true;
    neovim.enable = true;
    neovim.defaultEditor = true;
  };

  system.stateVersion = "$SYSTEM_VERSION";
}
