name: Nix CI

on:
  push:
    paths:
      - '**/*.nix'
  workflow_dispatch:

permissions:
  contents: write

jobs:
  check:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Nix
        uses: cachix/install-nix-action@v31
        with:
          nix_path: nixpkgs=channel:nixos-unstable

      - name: Check nix flake
        run: nix flake check

      - name: Check shell scripts
        run: nix-shell -p shellcheck --command "find ./scripts -name '*.sh' -print0 | xargs -0 shellcheck -e 2329"

  format:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Nix
        uses: cachix/install-nix-action@v31
        with:
          nix_path: nixpkgs=channel:nixos-unstable

      - name: Install nixfmt and format .nix files
        run: nix-shell -p nixfmt-rfc-style --command "find . -path './templates' -prune -o -name '*.nix' -print0 | xargs -0 nixfmt"

      - name: Commit and push formatted files
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git add .
          git diff --cached --quiet || git commit -m "Auto-format Nix files"
          git push
